<% content_for :page_title do %>
  <div>Washington District UPC Ministers</div>
<% end %>

<h1>Editing - <%= @ministers.full_name %></h1>

<div class="admin-minister-editing" style="float:left">

  <% form_for(@ministers) do |f| %>
  <%= f.error_messages %>

  <table cellpadding="0" cellspacing="0" border="0">

  <tr>
    <th><%= f.label :status %></th>
    <td><%= f.select :status, %w(active inactive) %></td>
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <th><%= f.label :firstname %></th>
    <td><%= f.text_field :firstname %></td>
    <th><%= f.label :lastname %></th>
    <td><%= f.text_field :lastname %></td>
  </tr>

  <tr>
    <th><%= f.label :address %></th>
    <td><%= f.text_field :address %></td>
    <th><%= f.label :city %></th>
    <td><%= f.text_field :city %></td>
  </tr>

  <tr>
    <th><%= f.label :state %></th>
    <td><%= f.text_field :state %></td>
    <th><%= f.label :zip %></th>
    <td><%= f.text_field :zip %></td>
  </tr>

  <tr>
    <th><%= f.label :phone_home %></th>
    <td><%= f.text_field :phone_home %></td>
    <th><%= f.label :phone_mobile %></th>
    <td><%= f.text_field :phone_mobile %></td>
  </tr>

  <tr>
    <th><%= f.label :phone_fax %></th>
    <td><%= f.text_field :phone_fax %></td>
    <th><%= f.label :email %></th>
    <td><%= f.text_field :email %></td>
  </tr>

  <tr>
    <th><%= f.label :notes %></th>
    <td colspan="3"><%= f.text_area :notes, { :rows => 4 }  %></td>
  </tr>

  <tr>
    <th>&nbsp;</th>
    <td colspan="3"><%= f.submit "Save Changes"  %></td>
  </tr>

  </table>

  <% end %>

</div>

<br style="clear:both" />

<%= link_to 'Show', @ministers %> |
<%= link_to 'Back', ministers_path %>

