<h1>Editing </h1>

<div class="minister-editing" style="float:left">

  <% form_for(@ministers) do |f| %>
  <%= f.error_messages %>

  <dl>

    <dt><%= f.label :status %></dt>
    <dd><%= f.text_field :status %></dd>

    <dt><%= f.label :firstname %></dt>
    <dd><%= f.text_field :firstname %></dd>
    
    <dt>Primary Address</dt>
    <dd>&nbsp;</dd>
    
    <dt><%= f.label :address %></dt>
    <dd><%= f.text_field :address %></dd>
    
    <dt><%= f.label :city %></dt>
    <dd><%= f.text_field :city %></dd>

    <dt><%= f.label :state %></dt>
    <dd><%= f.text_field :state %></dd>
    
    <dt><%= f.label :zip %></dt>
    <dd><%= f.text_field :zip %></dd>

    <dt><%= f.label :title %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :phone_home %></dt>
    <dd><%= f.text_field :phone_home %></dd>

    <dt><%= f.label :phone_mobile %></dt>
    <dd><%= f.text_field :phone_mobile %></dd>

    <dt><%= f.label :phone_fax %></dt>
    <dd><%= f.text_field :phone_fax %></dd>

    <dt><%= f.label :email %></dt>
    <dd><%= f.text_field :email %></dd>

    <dt><%= f.label :notes %></dt>
    <dd><%= f.text_field :notes %></dd>

    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>

    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>

  </dl>

  <% end %>
  
</div>

<div class="minister-editing" style="float:left">

  <% form_for(@ministers) do |f| %>
  <%= f.error_messages %>

  <dl>

    <dt><%= f.label :status %></dt>
    <dd><%= f.text_field :status %></dd>

    <dt><%= f.label :firstname %></dt>
    <dd><%= f.text_field :firstname %></dd>
    
    <dt><%= f.label :address2_type %></dt>
    <dd><%= f.text_field :address2_type %></dd>
    
    <dt><%= f.label :address2 %></dt>
    <dd><%= f.text_field :address2 %></dd>

    <dt><%= f.label :city2 %></dt>
    <dd><%= f.text_field :city2 %></dd>

    <dt><%= f.label :state2 %></dt>
    <dd><%= f.text_field :state2 %></dd>

    <dt><%= f.label :zip2 %></dt>
    <dd><%= f.text_field :zip2 %></dd>

    <dt><%= f.label :title %></dt>
    <dd><%= f.text_field :title %></dd>

    <dt><%= f.label :phone_home %></dt>
    <dd><%= f.text_field :phone_home %></dd>

    <dt><%= f.label :phone_mobile %></dt>
    <dd><%= f.text_field :phone_mobile %></dd>

    <dt><%= f.label :phone_fax %></dt>
    <dd><%= f.text_field :phone_fax %></dd>

    <dt><%= f.label :email %></dt>
    <dd><%= f.text_field :email %></dd>

    <dt><%= f.label :notes %></dt>
    <dd><%= f.text_field :notes %></dd>

    <dt>&nbsp;</dt>
    <dd>&nbsp;</dd>

    <dt>&nbsp;</dt>
    <dd><%= f.submit "Update" %></dd>

  </dl>

  <% end %>
  
</div>

<br style="clear:both" />

<%= link_to 'Show', @ministers %> |
<%= link_to 'Back', ministers_path %>

