<% content_for :page_title do %>
  <div>Washington District UPC Ministers</div>
<% end %>

<table border="0" cellpadding="0" cellspacing="0" class="admin-minister-listings">
  <tr>
    <% [ @ministers[0,@ministers.length/2], 
         @ministers[@ministers.length/2,@ministers.length] 
       ].each do |minister_list| %>
    <td style="vertical-align:top;padding-right:10px">
      <div class="minister-listing">

        <div class="col1 header">Name</div>
        <div class="col2 header">Email</div>

        <% minister_list.each do |minister| -%>
          <% cls_inactive = (minister.status == 'active') ? '' : ' inactive' -%>
          <div class="col1<%= cls_inactive -%>"><%= link_to "#{minister.title} #{minister.firstname} #{minister.lastname}", minister -%></div>
          <div class="col2<%= cls_inactive -%>"><%= minister.email -%></div>
        <% end %>

        <div class="col1 footer"></div>
        <div class="col2 footer"></div>

      </div>
    </td>
    <% end %>
  </tr>
</table>

<%= will_paginate @missionaries %>
<br />
<%= link_to 'New Minister', new_minister_path %> |
<% if params[:sort] == 'active' then %>
<%= link_to 'Show All Ministers', :sort => 'all' %> 
<% else %>
<%= link_to 'Show Only Active Ministers', :sort => 'active' %> 
<% end %>
<br />
