<div class="page-title">
  <h2>District Ministers</h2>
</div>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="vertical-align:top">
      <div class="minister-listing">

        <div class="col1 header">Name</div>
        <div class="col2 header">Email</div>
        <div class="col3 header">Status</div>

        <% 0.upto( (@ministers.length/2)-1 ) do |i| minister = @ministers[i]  %>
          <div class="col1"><%= link_to "#{minister.title} #{minister.firstname} #{minister.lastname}", minister -%></div>
          <div class="col2" title="<%=h minister.email -%>"><%=h minister.email -%></div>
          <div class="col3"><%=h minister.status -%></div>
        <% end %>

      </div>
    </td>
    <td style="padding-left:.5em;vertical-align:top">
      <div class="minister-listing">

        <div class="col1 header">Name</div>
        <div class="col2 header">Email</div>
        <div class="col3 header">Status</div>

        <% (@ministers.length/2).upto(@ministers.length-1)   do |i| minister = @ministers[i]  %>
          <div class="col1"><%= link_to "#{minister.title} #{minister.firstname} #{minister.lastname}", minister -%></div>
          <div class="col2" title="<%=h minister.email -%>"><%=h minister.email -%></div>
          <div class="col3"><%=h minister.status -%></div>
        <% end %>

      </div>
    </td>
  </tr>
</table>

<%= will_paginate @missionaries %>
<br />
<%= link_to 'New Minister', new_minister_path %> |
<% if params[:sort] == 'active' then %>
<%= link_to 'Show All Ministers', :sort => 'all' %> 
<% else %>
<%= link_to 'Show Only Active Ministers', :sort => 'active' %> 
<% end %>
<br />
