
<div class="minister-profile">

  <div class="minister-names">
    <div class="minister-status"><span class="<%=h @minister.status %>"><%=h @minister.status.capitalize() %></span></div>
    <h2><%= @minister.title %> <%= @minister.firstname %> <%= @minister.lastname %></h2>
  </div>

  <div class="minister-contact">
    <h4>Contact Information</h4>
    <div class="minister-address">
      <b>Phone home:</b> <%=h @minister.phone_home %><br />
      <b>Phone mobile:</b> <%=h @minister.phone_mobile %><br />
      <b>Phone fax:</b> <%=h @minister.phone_fax %><br />
      <b>Email:</b> <%=h @minister.email %>
    </div>
    <% if !@minister.address.empty? %>
    <div class="minister-address">
      <b>Primary Address</b><br />
      <div>
        <%=h @minister.address %><br />
        <%=h @minister.city %>, <%=h @minister.state %> &nbsp; <%=h @minister.zip %>
      </div>
    </div>
    <% end %>
    <% if !@minister.address2.empty? %>
    <div class="minister-address">
      <b><%=h @minister.address2_type %> Address</b><br />
      <div>
        <%=h @minister.address2 %>
        <%=h @minister.city2 %>, <%=h @minister.state2 %> &nbsp;<%=h @minister.zip2 %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="minister-bio">
    <h4>Biographical Information</h4>
    <div class="bio-content">
      <% if @minister.bio %>
      <% if @minister.bio.photo_link %>
      <div class="minister-photo">
        <img src="<%= @minister.bio.photo_link -%>" /><br />
        <span class="photo-caption"><%= @minister.bio.photo_caption %></span>
        <br />
        <br />
        <br />
        <address>
        <%= @minister.bio.address %>
        </address>
      </div>
      <span class="minister-roles">
      <% end %>
      <% @minister.roles.each do |role| %>
      <%= role.name %><br />
      <% end %>
      </span>
      <br />
       <div style="margin-left:150px">
      <%= @minister.bio.content %>
      </div>
      <% else %>
        No Biographical Information
      <% end %>
    </div>
  </div>
  <div class="minister-notes">
    <h4>Notes</h4>
    <div>
      <%=h @minister.notes %>
    </div>
  </div>
</div>

<br />
<%= link_to 'Edit', edit_minister_path(@minister) %> |
<%= link_to 'Back', :action => 'index' %>
<br />
