<% content_for :page_title do %>
  <div>Washington District UPC Ministers</div>
<% end %>

<div class="admin-minister-profile">
  
  <% if flash[:notice] -%>
    <div class=":notice"><%= flash[:notice] -%></div>
  <% end -%>

  <div class="minister-names">
    <div class="minister-status"><span class="<%=h @minister.status %>"><%=h @minister.status.capitalize() %></span></div>
    <h2><%= @minister.title %> <%= @minister.firstname %> <%= @minister.lastname %></h2>
  </div>

  <div class="minister-address">
    <dl>
      <dt>Home Phone:</dt>
      <dd><%=h @minister.phone_home %></dd>

      <dt>Mobile Phone:</dt>
      <dd><%=h @minister.phone_mobile %></dd>
      
      <dt>Fax:</dt> 
      <dd><%=h @minister.phone_fax %></dd>
      
      <dt>Email:</dt>
      <dd><%=h @minister.email %></dd>

      <dt>Instant Message:</dt>
      <dd>&nbsp;</dd>

      <dt>Twitter:</dt>
      <dd>&nbsp;</dd>
      
      <% unless @minister.address.blank? -%>

      <dt>Primary Address: </dt>
      <dd>
        <%=h @minister.address %><br />
        <%=h @minister.city %>, <%=h @minister.state %> &nbsp; <%=h @minister.zip %>
      </dd>

      <% end -%>

      <% unless @minister.address2.blank? -%>

      <dt><%=h @minister.address2_type %> Address</dt>
      <dd>
        <%=h @minister.address2 %>
        <%=h @minister.city2 %>, <%=h @minister.state2 %> &nbsp;<%=h @minister.zip2 %>
      </dd>

      <% end -%>

      <dt>Roles:</dt>
      <dd>
        <% @minister.roles.each do |role| %>
        <%= role.name %><br />
        <% end %>
      </dd>

      <dt>Notes:</dt>
      <dd><%= ( !@minister.notes.blank? ) ? @minister.notes.gsub(/\n/,'<br />') : '' %></dd>

      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      
    </dl>
  </div>
    
  <br style="clear:both" />
  <%= link_to 'Edit', edit_minister_path(@minister) %> |
  <%= link_to 'Back', :action => 'index' %>
  <br />

</div>

