<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
		<meta name="description" content="The listing of churches in the Washington State District of the United Pentecostal Church International. This listing is searchable by City, Pastor and Zip Code. The listings contain contact information for the churches." />
		<meta name="keywords" content="Churches searchable listings websites contact information pastore home missions Jesus Christ Salvation Name Pentecost Pentecostal Apostolic Eternal Life Acts 2:38 God Washington State District United Pentecostal Church Internal Bible Holy Ghost Global Impact Media Missions Apostolic Man Foregin Missions BREAD B.R.E.A.D. WAUPC" />
		<link rel="stylesheet" href="/stylesheets/fh.css" type="text/css" id="default-style" media="all" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
		<title></title>
  </head>
  <body>
    <div style="padding-top:1em;width:770px;margin:auto;">
	  <div>
		  <div style="padding-bottom:1em;">
			  <h3 style="margin-top:0px;margin-bottom:2px;">Search for a church</h3>
		    You can search by all or part of the church name or Pastor's name or you can search 
			  by city. If you just want to find the closest church in Washington to you, type in a 
			  zip code. Press the 'Show All' button to see the complete list.<br />
		  </div>
      <% form_tag '/churches', :method => 'post', :id => "findchurch", :name => "findchurch"  do -%>
			  <table summary="Search Form">
				  <tr>
					  <td><%= text_field_tag "fsearch", nil, :class => "label" -%></td>
					  <td><%= submit_tag "Search", :name => "findme", :id => 'findme' -%></td>
            <td><%= button_to_function "Show All", :name => "findall", :id => "findall" do |page|
              page.call('clearSearch')
              page[:findchurch].submit() 
            end -%></td>
				  </tr>
			  </table>
        <%= hidden_field_tag "st", "text", :id => "searchtype" %>
      <% end -%>
		  If you feel any of the information listed below is incorrect or missing, contact the 
		  <script type="text/javascript" language="javascript">
      {document.write(String.fromCharCode(60,97,32,104,114,101,102,61,34,109,97,105,108,116,111,58,119,101,98,100,101,118,64,119,97,117,112,99,46,110,101,116,34,32,62,87,101,98,32,68,101,118,101,108,111,112,109,101,110,116,32,84,101,97,109,60,47,97,62))}
      </script>
	  </div>
    <br />&nbsp;
    <div class="church-list-holder">
		<table cellpadding="0" cellspacing="0" class="church-list" summary="All Churches" id="listOfChurches">
      <thead>
		  <tr class="header">
			  <th class="col1">&#160;</th>
			  <th class="col2">Church Name</th>
				<th class="col3">City</th>
        <% if @churches.first.distance then %>
				<th class="col5">Distance</th>
        <% end %>
			  <th class="col4">Pastor</th>
		  </tr> 
      </thead>
      <tbody>
      <% i=0 -%>
      <% @churches.each do |church| -%>
        <% i +=1 %>
        <tr class="<%= i % 2 == 0 ? 'odd' : 'even' %>">
          <td><%= link_to_function "more info", nil, :class => 'moreinfo' do |page|
            page.call('hideAllDetails')
            page.call('showChurchDetail',"church_detail_#{church.id}")
          end -%></td>
          <td><%= church.church_name %> </td>
          <td><%= church.physical_city %> </td>
          <% if church.distance then %>
          <td style="text-align:right;width:80px;padding-right:1em"><%= church.distance.round(1) %> mi </td>
          <% end %>
          <td><%= !church.minister_id.zero? ? church.minister.full_name_with_title : "Rev. #{church.pastor}"  %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    <% @churches.each do |church| %>
    <div class="church-detail" id="church_detail_<%=church.id%>">
      <div style="float:right;padding-right:5px;padding-top:5px"><%= link_to_function "Close Window [X]",
        'hideAllDetails()', :class => 'close-link' -%></div>
      <div><span style="font-size:120%;font-weight:bold;padding-left:3px"><%= church.church_name -%></span></div>
      <div class="contact-info">
        <dl>
          <% unless church.phone.nil? || church.phone == ''%>
          <dt>Phone:</dt>
          <dd><%= number_to_phone(church.phone.gsub(/\D/,''), :area_code => true) %></dd>
          <% end %>
          <% unless church.fax.nil? || church.fax == ''%>
          <dt>Fax:</dt>
          <dd><%= number_to_phone(church.fax.gsub(/\D/,''), :area_code => true) %></dd>
          <% end %>
          <% unless church.web.nil? || church.web == '' %>
          <dt>Website:</dt>
          <dd><%= link_to church.web, church.web, :target => '_blank' %></dd>
          <% end %>
          <% unless church.email.nil? || church.email == '' %>
          <dt>Email:</dt>
          <dd><%= mail_to church.email, church.email %></dd>
          <% end %>
        </dl>
      </div>
      <% unless church.physical_address.nil? || church.physical_address == '' %>
      <div class="physical-address">
        <b>Physical Address:</b><br />
        <%= church.physical_address %><br />
        <%= church.physical_city %>, WA <%= church.physical_zip %><br />
      </div>
      <% end %>
      <% unless church.mailing_address.nil? || church.mailing_address == '' %>
      <div class="mailing-address" style="padding:3px">
        <b>Mailing Address:</b><br />
        <%= church.mailing_address %><br />
        <%= church.mailing_city %>, WA <%= church.mailing_zip %><br />
      </div>
      <% end %>
    </div>
    <% end %>
    <script type="text/javascript">
      $(document).ready(function() { 
        $("#listOfChurches").tablesorter( { headers: { 0: {sorter:false} } } ); 
      }); 
      function clearSearch() { $('#fsearch').val(''); }
      function hideAllDetails() { $('.church-detail').slideUp(); }
      function showChurchDetail(id) { $('#'+id).slideDown(); }
    </script>
  </body>
</html>
