<% content_for :page_javascript do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#registration_reset').bind('click', function(){ history.go(-1); });
  });
</script>
<% end %>

<h1>Event Registration</h1>

<div class="main-content events">

	<div>
		<div class="event-title"><%= @event.name %></div>
		<div class="timeline"><%= @event.dateline %></div>
		<div class="location"><%= @event.location %></div>
	</div>
	<div class="event-theme"><%= @event.tagline %></div>

  <% if Date.today > @event.reg_expires.to_date then render :partial => "expired_#{@event.key}"; end -%>

  <% form_for @registration, :url => verify_registration_path do |f| %>
    <%= f.error_messages %>

	<fieldset class="event-register">
		<ul>
			<li><%= label_tag 'fname', "First Name" %><%= text_field_tag 'fname' -%></li>
			<li><%= label_tag 'lname', "Last Name" %><%= text_field_tag 'lname' -%></li>
		</ul>
		<ul>
			<li><%= f.label :address -%><%= f.text_field :address, :class => "kingsize" -%></li>
		</ul>
		<ul>
			<li><%= f.label :city -%><%= f.text_field :city, :class => 'kingsize' -%></li>
    </ul>
    <ul>
			<li><%= f.label :state -%><%= f.state_select('state','US_CA',{:include_blank => '--] Select State [--'},{:class => 'states-dropdown'}) -%></li>
			<li><%= f.label :postal, "Zip Code", :style => 'width:7.45em' -%><%= f.text_field :postal, :class => "quartersize" -%></li>
		</ul>
		<ul>
			<li><%= f.label :phone -%><%= f.text_field :phone -%></li>
			<li><%= f.label :email -%><%= f.text_field :email -%></li>
		</ul>
		<ul>
			<li><%= f.label :church -%><%= f.text_field :church -%></li>
			<li><%= f.label :pastor -%><%= f.text_field :pastor -%></li>
		</ul>
		<ul><li>&nbsp;</li></ul>
		<ul>
			<li><label>&nbsp;</label><%= f.submit 'Confirm', :class => 'button', :title => "Confirm Information and Continue" -%></li>
			<li><%= f.submit 'Cancel', :type => 'reset', :id => "registration_reset", :class => "button", :title => "Cancel and Return to Information Page" -%></li>
		</ul>
		<ul>
			<li style="width:85%"><small>Registration is $75.00. A fee of $3.00 is added to help defray the cost of online transaction fees. If any errors or questions
        arise concerning this registration, feel free to contact the Web Development Team at <%= mail_to "webdev@waupc.org" -%></small></li>
		</ul>
    <br />
    <%= hidden_field_tag 'event', @event.key %>
	</fieldset>

  <% end %>

</div>

