	<h3>Bookings</h3>
	<table class="deputation-booking-table">
		<tr>
			<th class="col1">Date</th>
			<th class="col2">Time</th>
			<th class="col3">Status</th>
			<th>&nbsp;</th>
		</tr>
    <tr><td colspan="4" class="second">&nbsp;</td></tr>
	</table>
	<% for booking in bookings %>
		<% form_remote_for booking, :complete => 'booking_update_complete(request)'  do |f| %>  
      <table class="deputation-booking-table" id="tblBooking_<%=booking.id%>">
        <tr>
          <td class="col1"><%= booking.date_of.strftime('%a, %b %e, %Y') %></td>
          <td class="col2"><%= f.time_select :time_of, {
              :simple_time_select => true, :lower_limit => 60*9, :upper_limit => 60*22, :minute_interval => 30, :time_separator => ""
            } -%></td>
          <td class="col3">
            <select id="booking_status_<%=booking.id%>" name="booking[status]">
            <%= options_for_select %w(open booked reserved cancelled), booking.status %>
            </select>
          </td>
          <td>
            <input id="btnConfirm_<%=booking.id%>" class="confirm_btn" <%= (booking.status != 'booked') ? 'disabled="disabled"' : '' %> 
              type="button" value="Send Confirmation" onclick="<%= 
                remote_function :url => {
                  :controller => 'bookings', 
                  :id => booking.id, 
                  :action => 'notify'
                } 
              -%>" />
          </td>
        </tr>
        <tr>
          <td colspan="3"><%= f.select :church_id, @churches.collect {|p| [p.selector_name,p.id]}, :include_blank => 'Select Church' %></td>
          <td><%= f.submit "Update" %></td>
        </tr>
        <tr><td colspan="4" class="second">&nbsp;</td></tr>
      </table>
		<% end %>
	<% end %>	
