<div class="page-title">
	<h2>Deputations</h2>
</div>
<div class="main-content">

	<p style="color: green"><%= flash[:notice] %></p>

	<%= link_to 'New deputation', new_deputation_path %>

	<br />&nbsp;

	<table class="deputations-table">
		<tr>
			<th class="col1">Details</th>
			<th class="col2">Missionary</th>
			<th class="col3">Date</th>
		</tr>
		<% for deputation in @deputations %>
		<tr>
			<td class="col1"><%= link_to 'show', deputation_path(deputation) %></td>
			<td class="col2"><%= deputation.missionary.name %></td>
			<td class="col3"><%= deputation.date_range %></td>
		</tr>
		<% end %>
	</table>

	<br />
	<%= link_to 'New deputation', new_deputation_path %>
	<br />
</div>
