<h2>Change Password?</h3>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<%= f.label :password %><br />
	<%= f.password_field :password, :size => 20 %><br />
	<br />
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, :size => 20 %><br />
	<br />
	<%= f.submit "Submit" %>
<% end %>
