		<style type="text/css" media="screen">
			.menu-list { font-size: 16px; font-weight: bold }
			.menu-list li { line-height:1.4; list-style-type:none }
			.menu-list a { text-decoration:none }
			.menu-list { padding-left:20px; padding-right:10px }
		</style>
    <ul class="menu-list">
      <li><%= link_to "Churches",      :churches %></li>
      <li><%= link_to "Deputations",   :deputations %></li>
      <li><%= link_to "Events",        :events %></li>
      <li><%= link_to "Registrations", '/admin/registrations' %></li>
      <li><%= link_to "Ministers",     :ministers %></li>
      <li><%= link_to "Missionaries",  :missionaries %></li>
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
